### Chapter 3, Unit 17, Paper coding Q1

In [13]:
def my_greet():
    print("Welcome.")
my_greet()
my_greet()

Welcome.
Welcome.

### Chapter 3, Unit 17, Paper coding Q2

In [14]:
def max2(m,n):
    if m>n: print(m)
    elif n>m: print(n)
    else: print("Los valores son iguales")

def min2(m,n):
    if m<n: print(m)
    elif n<m: print(n)
    else: print("Los valores son iguales")

max2(100,200)
min2(100,200)

200
100

### Chapter 3, Unit 17, Paper coding Q3

In [26]:
def mile2km(n):
    print(f"{i} mile = {i*1.61} kilometers")

for i in range(1,6):
    mile2km(i)

1 mile = 1.61 kilometers
2 mile = 3.22 kilometers
3 mile = 4.83 kilometers
4 mile = 6.44 kilometers
5 mile = 8.05 kilometers

### Chapter 3, Unit 17, Paper coding Q4

In [25]:
def cel2fah(cel):
    print(f"{cel} degrees Celsius = {cel*9/5+32} degrees Fahrenheit.")
    
for j in range(10,60,10):
    cel2fah(j)

10 degrees Celsius = 50.0 degrees Fahrenheit.
20 degrees Celsius = 68.0 degrees Fahrenheit.
30 degrees Celsius = 86.0 degrees Fahrenheit.
40 degrees Celsius = 104.0 degrees Fahrenheit.
50 degrees Celsius = 122.0 degrees Fahrenheit.

### Chapter 3, Unit 17, Pair programming Q1

In [ ]:
n1, n2, n3 = map(int,input("Enter three numbers").split(" "))

print(n1,n2,n3)

def mean3(a,b,c):
    res=(a+b+c)/3
    print("La media de los valores es", res)

def max3(a,b,c):
    res=max(a,b,c)
    print("El mayor valor es",res)

def min3(a,b,c):
    res=min(a,b,c)
    print("El menor valor es",res)

mean3(n1,n2,n3)
max3(n1,n2,n3)
min3(n1,n2,n3)

### Chapter 3, Unit 17, Pair programming Q1, Versión profesor

In [ ]:
entrada = input("Introduce 3 valores (separados por espacios)")
lista_numeros=entrada.split()
print(lista_numeros)
if len(lista_numeros) !=3:
    print("No se han introducido el número de valores correcto.")
else:
    a,b,c =int(lista_numeros[0]), int(lista_numeros[1]), int(lista_numeros[2])

def mean3(a,b,c):
    res=(a+b+c)/3
    print("La media de los valores es", res)

def max3(a,b,c):
    res=max(a,b,c)
    print("El mayor valor es",res)

def min3(a,b,c):
    res=min(a,b,c)
    print("El menor valor es",res)

mean3(a,b,c)
max3(a,b,c)
min3(a,b,c)

### Ejercicios clase: Factorial (Recursividad)

In [14]:
n = int(input("Introduce un número entero."))

def factorial(n):
    if n<=1:
        return 1
    else:
        return n * factorial(n-1)

print(f"El factorial de {n}! es {factorial(n)}.")


# Si hacemos %%timeit te saca la media de lo que ejecutes
%%timeit
factorial(n)


# Si hacemos %%time te mide cuánto tarda en hacer una ejecucción
%%time
factorial(n)

Introduce un número entero. 5

El factorial de 5 es 120.

### Ejercicios clase: Fibonacci (Recursividad)

In [ ]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))

### Ejercicios clase: Fibonacci con memoria (Recursividad con Diccionarios)

In [ ]:
memoria = {0:0,1:1}
def fibonacci_(n):
	if n in memoria:
		return memoria[n]
	else:
	memoria[n]=fibonacci_m(n-1)+fibonacci_m(n-2)
	return memoria[n]

### Chapter 3, Unit 18, Paper coding Q1

In [16]:
n = int(input("Enter a number"))

def sum(n):
    if n==1:
        return 1
    else:
        return n + sum(n-1)
sum(n)

Enter a number 10

55

### Chapter 3, Unit 18, Paper coding Q1 (Con memoria)

In [ ]:
memoria = {0:0,1:1}
n = int(input("Enter a number"))

def sum(n):
    if n in memoria:
        return memoria[n]
    else:
        memoria[n] = n + suma(n-1)
        return memoria[n]
sum(n)

### Chapter 3, Unit 18, Paper coding Q2

In [18]:
x = int(input("Enter a number x"))
n = int(input("Enter a number n"))


def cuadrado(x,n):
    if n == 1:
        return x
    elif x == 0:
        return 0
    else:
        return x*cuadrado(x,n-1)
cuadrado(x,n)

Enter a number x 2
Enter a number n 10

1024

### Chapter 3, Unit 18, Paper coding Q2 (Con memoria)

In [19]:
x = int(input("Enter a number x"))
n = int(input("Enter a number n"))

memoria = {}

def cuadrado(x,n):
    if n == 1:
        return x
    else:
        return x*cuadrado(x,n-1)
        
cuadrado(x,n)

Enter a number x 2
Enter a number n 10

1024

### Chapter 3, Unit 18, Pair programming Q1

In [24]:
n = int(input("Enter a number n"))

def euler(n):
    if n == 0:
        return 1
    else:
        return 1/factorial(n) + euler(n-1)


def factorial(n):
    if n<=1:
        return 1
    else:
        return n * factorial(n-1)


euler(n)

Enter a number n 20

2.7182818284590455

### Ejercicios clase usando Filter

In [3]:
valores = [12,5,3,6,7,29,55,4,1]
res = []

def pares(n):
    if n%2==0:
        return True
    else:
        return False

for a in filter(pares, valores):
    res.append(a)

print(res)

[12, 6, 4]

### Ejercicios clase: usando Filter y Lambda

In [2]:
valores = [12, 5, 3, 6, 7, 29, 55, 4, 1]
pares = lambda n: n % 2 == 0

print(list(filter(pares, valores)))

[12, 6, 4]

### Chapter 3, Unit 19, Paper coding Q1

In [6]:
n_list = [1,2,3,4,5,6,7,8,9,10]
resultado=[]

for i in filter(lambda x: x % 2 == 0, valores)
    resultado.append(i)
print(resultado)

[2, 4, 6, 8, 10]

### Chapter 3, Unit 19, Paper coding Q2

In [ ]:
n_list = [1,2,3,4,5,6,7,8,9,10]
impares = lambda x: x%2==0
even_list = list(filter(impares,n_list))

print(even_list)

### Chapter 3, Unit 19, Paper coding Q3

In [9]:
a_list=['a','b','c','d']

def toUpper(c):
    return c.upper()
upper_list = list(map(toUpper,a_list))
print(upper_list)

['A', 'B', 'C', 'D']

### Chapter 3, Unit 19, Paper coding Q4

In [13]:
from functools import reduce
suma = reduce(lambda x,y:x+y,range(1,101))
print(suma)

5050

### Chapter 3, Unit 19, Pair programming Q1

In [51]:
scores = [100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]
notasAlumno = []
notasAlumnos = []
cont=0

def notasValidas(l):
    if 0 in l:
        return False
    else:
        return True

for n in scores:
    cont+=1
    notasAlumno.append(n)
    if cont==3:
        if notasValidas(notasAlumno):
            notasAlumnos.append(notasAlumno)
        cont=0
        notasAlumno=[]


print(notasAlumnos)

[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]