In [2]:

a ="50"
b = 50
print(a + str(b))
print(int(a) + b)

5050
100

In [7]:
a = '1'
b = '0'
c = '0'
d = '0'

e=int(a + b + c + d)
print(e)

1000

In [19]:
# Ejercicio de factorial
a = 5
b = 10
sum = 0

def factorial (num): 
    if num <= 1:
        return num
    else: 
        sum = num * factorial (num-1)
    return sum    
factorial(1)

hola

1

In [20]:
x , y = 100, 200
print(x)
print(y)

100
200

In [22]:
int(input("Dinero:"))

Dinero: hola

ValueError: invalid literal for int() with base 10: 'hola'

In [28]:
width = 30 
heigth = 60 
def areaRectangulo(width,heigth):
    area = width * heigth
    return area
areaRectangulo(width,heigth)

1800

In [34]:
base=int(input("Base: ")) #10
altura=int(input("Altura: ")) #7

def pitagoras(base,altura):
    hiportenusaElevada = base**2 + altura**2
    hiportenusa = hiportenusaElevada ** 0.5
    return hiportenusa

pitagoras(base,altura)

Base:  10
Altura:  7

12.206555615733702

In [29]:
# Charpter 1, Unit 4, Pair Programming Q2
def cuadradoNum(a,n):
    print("a", "n", "a**n", sep="\t")
    while a <= 6:
        print(a, n, a**n, sep="\t")
        a += 1

cuadradoNum(2,2)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [9]:
# Chapter 1, Unit 4, Pair Programming Q2
def cuadradoNum(a, n):
    print("a", "n", "a**n", sep="\t")
    while a <= 6:
        print(a, n, a**n, sep="\t")
        a += 1

cuadradoNum(2, 2)

a	n	a**n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

In [33]:
# Charpter 1, Unit 5, Paper coding Q1
n = int(input("Introduce el valor de n: "))

def odd(n):
    if (n==20 or n==21):
        print("Is the integer odd?:")
    
    if(n%2==0): return False
    else: return True
        
odd(n)

Introduce el valor de n:  21

Is the integer odd?:

True

In [36]:
# Charpter 1, Unit 5, Paper coding Q2
n = int(input("Enter an integer: "))

def odd(n):
    print("Is teh input value integer between 0 and 100? ")
    if (n>=0 and n<=100):
       if(n%2!=0): return True
       else: return False 
    else: return False   
           
odd(n)

Enter an integer:  35

Is teh input value integer between 0 and 100?

True

In [41]:
# Charpter 1, Unit 5, Pair programming Q1
n = int(input("Enter an integer: "))

def thridDigit(n):
    if(n // 100 == 3):
        print("The number is", n)
        return True
    else: 
        print("The digit is not correct.") 
        return False

thridDigit(n)

Enter an integer:  345

The number is 345

True

In [45]:
# Charpter 1, Unit 5, Pair programming Q2
n = int(input("Enter an integer: "))

def num5(n):
    if(n%5==0): return True
    else: return False

num5(n)

Enter an integer:  3

False

In [2]:
# Charpter 1, Unit 6, Paper coding Q1

score = int(input("Enter an integer: "))

def gameScore(s):
    print("game_score =", s)
    if(s>=1500): 
        print("You are a monster")
gameScore(score)

Enter an integer:  2000

game_score = 2000

In [5]:
# Charpter 1, Unit 6, Paper coding Q2

num = int(input("Enter an integer: "))

def numNatural(num):   
    if(num>=-100 or num<=100):
        print("The number is:",num)
        if(num>0):
            # Number cero is not a natural number.
            print("Is a natural number")
    else:
        print("The number",num, "is not correct")

numNatural(num)

Enter an integer:  0

The number is: 0
Is a natural number

In [ ]:
# Charpter 1, Unit 6, Pair programming Q1.

age = int(input("Enter your age:"))

def checkAge(age):
    if age >= 20: print("Adult")
    else:
        if age>=10: print("Youth")
        else: print("kid")

checkAge(age)

In [3]:
# Charpter 1, Unit 7, Paper coding Q1

letter = input("Enter a letter:")

def letters(l):
    if l in ["a","e","i","o","u"]: 
        print(l,"Is a vocal")
        return l
    else: 
        print(l,"Is a consonant.")
        return l

letters(letter)

o Is a vocal

'o'

In [5]:
# Charpter 1, Unit 7, Paper coding Q2

a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))


def multiple(a,b):
    if(a%b==0): print(a, "is a multiple of b", b)

multiple(a,b)

15 is a multiple of b 5

In [1]:
# Charpter 1, Unit 7, Pair programming Q1

op = int(input("Enter the desired number of operation:"))
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))


def calculator(op,num1,num2):
    if op==1: return num1 + num2
    elif op==2: return num1 - num2
    elif op==3: return num1 * num2
    else: return num1/num2


calculator(op,num1,num2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'